@import url('https://fonts.googleapis.com/css?family=Raleway');
/* css boilerplate template courtesy of http://csswizardry.com/2011/01/the-real-html5-boilerplate/ */

html,body,div,span,applet,object,iframe,
h1,h2,h3,h4,h5,h6,p,blockquote,pre,
a,abbr,acronym,address,big,cite,code,
del,dfn,em,img,ins,kbd,q,s,samp,
small,strike,strong,sub,sup,tt,var,
b,u,i,center,
dl,dt,dd,ol,ul,li,
fieldset,form,label,legend,
table,caption,tbody,tfoot,thead,tr,th,td,
article,aside,canvas,details,figcaption,figure,
footer,header,hgroup,menu,nav,section,summary,
time,mark,audio,video{
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    font-family: 'Raleway', sans-serif;
    vertical-align:baseline;
}
/* HTML5 display-role reset for older browsers */
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section{
    display:block;
}
body{
    line-height:1;
}
ol,ul{
    list-style:none;
}
blockquote,q{
    quotes:none;
}
blockquote:before,blockquote:after,
q:before,q:after{
    content:’’;
    content:none;
}
/* remember to define visible focus styles!
:focus{
    outline:?????;
} */

/* remember to highlight inserts somehow! */
ins{
    text-decoration:none;
}
del{
    text-decoration:line-through;
}

table{
    border-collapse:collapse;
    border-spacing:0;
}

/*---COLOR CONSTANTS---*/
$light-blue: #1eadfb;
$light-grey: #F8F8F8;

$link-visited: #1eadfb;
$link-hover: #1056fa;
$link-base: #1eadfb;

/*---MIX-INS---*/
@mixin set-width($value){
    width: $value#{"%"};
    width: $value#{"vw"};
}
/*---start css---*/

.top-bar{
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 9999;
    margin: auto;
    display: inline-block;
    @include set-width(100);
    background-color: white;
    height: 4em;
    box-shadow: 0px 5px 20px #aaaaaa;
}

.top-bar-content{
    padding-top: .75em;
    margin: 0 auto;
    text-align: center;
}

.header-link{
    color: green;
    display: inline-block;
    padding-left: 1em;
    padding-right: 1em;
    text-align: center;
    font-size: 1.5em;
    padding: .25em;
}

.section-header{
    @include set-width(100);
    height: 1.5em;
    font-size: 2em;
    text-align: center;
    border-bottom: thick line #111111;
    padding-top: .5em;
}

#about-me-content{
    height: 350px;
}

#experience-content, #experience, .skill-container{
    background-color: $light-blue;
    color: white;
}
#experience-content{

}
.section-content{
    @include set-width(100);
    position: relative;
    overflow: overlay;

    @media only screen and (max-width: 639px){
        .self-image{
            @include set-width(100);
            height: auto;
            margin: auto;

            img{
                @include set-width(100);
                height: auto;
                margin: 0;
            }
        }
    }
    @media only screen and (min-width: 640px){
        .self-image{
            @include set-width(50);
            float: left;
            height: auto;
            margin: auto;
            clear: left;

            img{
                @include set-width(50);
                height: auto;
                margin: 0;
            }
        }
    }
    .self-summary-container{
        background-color: $light-grey;
        height: 100%;
        .self-summary{
            @media only screen and (max-width: 639px){
               @include set-width(90)
            }
            @media only screen and (min-width: 640px){
                @include set-width(40);
                display: inline-block;
            }

            font-size: 1em;
            padding-left: 2em;
            padding-right: 2em;
            h3.name {
                font-size: 2.0em;
            }
            h4.title{
                font-size: 1.5em;
            }
            h3, h4{
                text-align: center;
                padding: .3em;
            }
            p.self-description{
                padding-bottom: 1em;
            }
            p.contact{

                padding-top: .25em;
                padding-bottom: .25em;
            }
            .contact-links{
                display: flex;
                justify-content: space-between;
                padding-top: 1em;

                a.contact-link{
                    display: inline;
                }
            }
        }
    }

    .experience {
        margin-left: 4em;
        width: 40vw;
        float: left;
        clear: left;
    }

    h3.title{
        font-size: 1.5em;
        padding-bottom: .25em;
    }
    p.date{
        padding-top: .5em;
        padding-bottom: .5em;
    }
    p.job-title{
        padding-bottom: .5em;
    }
    p.proj-desc{
        padding-bottom: .5em;
    }
    p.description{
        padding-bottom: 1em;
    }
    .courses-container{
        float: right;
        padding-right: 1em;
        @include set-width(45)
    }

    .course{
        padding-bottom: .75em;
    }

    .project{
        width: 40%;
        width: 40vw;
        padding-left: 4vw;
        padding-right: 4vw;
        display: inline-block;
        vertical-align: top;
        padding-top: 16px;
        padding-bottom: 16px;

        h3.proj-name{
            text-align: center;
        }

        a{
            margin: auto;
            padding-top: .5em;
        }

    }
}

.skill-container{
    clear: right;
    padding-left: 4em;

    .skills{
        word-spacing: .25em;
        font-size: 1.25em;
        height: 20px;
        padding-top: .25em;
        padding-bottom: 1em;
    }
}

a:link{
    color: $link-base;
}
a:hover:active{
    color: $link-hover;
    font-weight: bold;
}
a:visited{
    color: $link-visited;
}
